:root {
	--duration: 1.5s;
	--container-size: 250px;
	--box-size: 33px;
	--box-border-radius: 15%;
  }
  
  .📦 {
	position: relative;
	display: block;
	transform-origin: -50% center;
  }
  
  .📦:after {
	content: '';
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	right: 0;
	background-color: lightblue;
	border-radius: var(--box-border-radius);
	box-shadow: 0px 0px 10px 0px rgba(28, 159, 255, 0.4);
  }
  
  .📦:nth-child(1) {
	animation: slide var(--duration) ease-in-out infinite alternate;
  }
  
  .📦:nth-child(1):after {
	animation: color-change var(--duration) ease-in-out infinite alternate;
  }
  
  .📦:nth-child(2) {
	animation: flip-1 var(--duration) ease-in-out infinite alternate;
  }
  
  .📦:nth-child(2):after {
	background-color: #1C9FFF;
	animation: squidge-1 var(--duration) ease-in-out infinite alternate;
  }
  
  .📦:nth-child(3) {
	animation: flip-2 var(--duration) ease-in-out infinite alternate;
  }
  
  .📦:nth-child(3):after {
	background-color: #1FB1FD;
	animation: squidge-2 var(--duration) ease-in-out infinite alternate;
  }
  
  /* Repeat for nth-child(4) and nth-child(5) */
  
  @keyframes slide {
	0% { background-color: #1795FF; transform: translatex(0vw); }
	100% { background-color: #23D3FB; transform: translatex(calc(var(--container-size) - (var(--box-size) * 1.25))); }
  }
  
  @keyframes color-change {
	0% { background-color: #1795FF; }
	100% { background-color: #23D3FB; }
  }
  
  @keyframes flip-1 {
	0%, 15% { transform: rotate(0); }
	35%, 100% { transform: rotate(-180deg); }
  }
  
  @keyframes squidge-1 {
	5% { transform-origin: center bottom; transform: scalex(1) scaley(1); }
	15% { transform-origin: center bottom; transform: scalex(1.3) scaley(0.7); }
	25%, 35% { transform-origin: center bottom; transform: scalex(0.8) scaley(1.4); }
	60%, 100% { transform-origin: center top; transform: scalex(1) scaley(1); }
	40% { transform-origin: center top; transform: scalex(1.3) scaley(0.7); }
  }
  
  /* Repeat keyframes flip-2, squidge-2, flip-3, etc. with adjusted percentages */
  